anyio
argon2-cffi 
argon2-cffi-bindings 
async-generator==1.10
attrs 
Babel 
backcall
backports.functools-lru-cache 
beautifulsoup4 
bleach 
branca 
brotlipy
certifi==2021.10.8
cffi 
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click 
click-plugins==1.1.1
cligj 
colorama
cryptography
cycler 
debugpy
decorator 
defusedxml 
docopt==0.6.2
entrypoints
Fiona==1.8.20
flit_core 
folium 
fonttools
fsspec 
GDAL==3.4.0
geopandas 
idna 
importlib-metadata 
importlib-resources
ipykernel 
ipython 
ipython-genutils==0.2.0
jedi 
Jinja2 
joblib
json5
jsonschema 
jupyter-client 
jupyter-core 
jupyter-server
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
kiwisolver 
libpysal 
mapclassify
MarkupSafe
matplotlib
matplotlib-inline 
mistune 
munch==2.5.0
munkres==1.1.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio 
networkx 
notebook
numpy 
olefile
packaging
pandas 
pandocfilters 
parso 
patsy
pickleshare 
Pillow 
pipreqs==0.4.11
plotly 
plotly-express==0.4.0
prometheus-client 
prompt-toolkit 
pycparser 
Pygments
pyOpenSSL
pyparsing
pyproj
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent
PySocks
python-dateutil
pytz
pywin32==303
pywinpty
pyzmq
requests
Rtree
scikit-learn
scipy
seaborn
Send2Trash
Shapely==1.8.0
six
sniffio 
soupsieve
statsmodels
tenacity
terminado
testpath
threadpoolctl 
tornado 
traitlets 
urllib3
voila 
wcwidth 
webencodings==0.5.1
websocket-client 
websockets
win-inet-pton
xyzservices 
yarg==0.1.9
zipp 